# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
.env

# Data & outputs (keep folders but not contents)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

reports/figures/*
reports/tables/*
!reports/figures/.gitkeep
!reports/tables/.gitkeep

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
